<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741621410452-g1aqd18vs4p3iiq4gonftq7737j9mcif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741621410452-g1aqd18vs4p3iiq4gonftq7737j9mcif</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>741621410452-4abv75jb0i64hh6i1n3o2ptrcnsoerr7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCeGoVeg2s9y3gPTEW9__QoHbWGDEJKwU8</string>
	<key>GCM_SENDER_ID</key>
	<string>741621410452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gastossimple.gastosSimple</string>
	<key>PROJECT_ID</key>
	<string>simple-app-78147</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-app-78147.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741621410452:ios:0693c58efc120df347e281</string>
	<key>DATABASE_URL</key>
	<string>https://simple-app-78147-default-rtdb.firebaseio.com</string>
</dict>
</plist>
